{% if section.blocks.size > 1 %}
  <script
    src="{{ 'announcement-bar.js' | asset_url }}"
    type="module"
    fetchpriority="low"></script>
{% endif %}

<div class="section-background"></div>
<aside class="announcement-bar">
  {% liquid
    assign autoplay = false
    assign show_arrows = false
    if section.blocks.size > 1
      assign autoplay = true
      assign show_arrows = true
    endif
  %}

  <announcement-bar-component
    class="announcement-bar__slider"
    {% if autoplay == true %}
    autoplay="{{ section.settings.speed }}"
    aria-live="polite"
    {% endif %}>
    {% if show_arrows %}
      {% render 'slideshow-arrows'
        , icon_style: 'chevron' %}
    {% endif %}

    <div class="announcement-bar__slides">
      {% content_for 'blocks' %}
    </div>
  </announcement-bar-component>
</aside>

{% stylesheet %}
  .section-background {
    background-color: var(--deepest-brand-blue);
  }
  .announcement-bar {
    padding: 16px 40px;
    background-color: var(--deepest-brand-blue);
    @media screen and (max-width: 768px) {
      padding: 8px 20px;
    }
  }

  .announcement-bar__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    @media screen and (max-width: 749px) {
      grid-column: 1 / -1;
    }
  }

  .announcement-bar__slides {
    display: grid;
    grid: [stack] auto / [stack] auto;
    max-width: 680px;
    margin-inline: auto;
  }

  .announcement-bar__slides > * {
    grid-area: stack;
  }

  .announcement-bar__slide {
    transition: opacity 0.5s ease-in-out
    , visibility 0.5s ease-in-out;
    content-visibility: visible;

    &[aria-hidden='true'] {
      opacity: 0;
      visibility: hidden;
    }
  }

  .announcement-bar__slider slideshow-arrows {
    padding: 0;
    mix-blend-mode: normal;
  }

  .announcement-bar__slider slideshow-arrows .slideshow-control {
    color: white;
  }

  .announcement-bar__slider .slideshow-control {
    display: flex;
    padding: 0;
    width: var(--button-size);
    height: var(--button-size);
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: none;

    @media screen and (min-width: 750px) {
      --slideshow-control-offset: calc((var(--button-size) - var(--icon-size-xs)) / 2);

      .section--page-width &.slideshow-control--previous {
        transform: translateX(var(--slideshow-control-offset));
      }
    }
  }

  .announcement-bar__slider .slideshow-control .svg-wrapper {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }

  .announcement-bar__slide {
    place-content: center;
  }

  .announcement-bar__text {
    padding: 0 40px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-family: Lora
    , serif;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  .announcement-bar__text:first-child {
    margin: 0;
  }

  .announcement-bar__link {
    position: absolute;
    inset: 0;
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "t:names.announcement_bar",
    "blocks": [
      {
        "type": "_announcement"
      }
    ],
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "range",
        "id": "speed",
        "label": "t:settings.scroll_speed",
        "min": 2,
        "max": 10,
        "default": 5,
        "unit": "sec"
      }
    ],
    "presets": [
      {
        "name": "t:names.announcement_bar",
        "blocks": [
          {
            "type": "_announcement"
          }
        ]
      }
    ]
  }
{% endschema %}