{% comment %} Password page header rendered from layout/password.liquid {% endcomment %}

<div
  class="password-header"
>
  {% liquid
    assign logo = settings.logo
  %}

  <div class="password-header__logo">
    <img
      src="{{ logo | image_url: width: 600 }}"
      srcset="{{ logo | image_url: width: 300 }} 300w, {{ logo | image_url: width: 600 }} 600w"
      sizes="100%"
      width="230px"
      height="auto"
      alt="{{ logo.alt | default: shop.name | escape }}"
      loading="eager"
    >
  </div>
  
</div>

{% style %}
  .password-header {
    padding: 0 40px;
    text-align: center;
    background-color: var(--deepest-brand-blue);
  }

  .password-header__logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .password-header__logo img {
    width: 140px;
    max-width: 100%;
    height: auto;

    @media screen and (max-width: 950px) {
      width: 100px;
    }
  }

{% endstyle %}

